{% extends 'base.html' %}
{% block content %}
<style>
    .clickable-row,
    .clickable-row td{
        cursor: pointer !important;
        transition: background-color 0.2s;
    }
    .clickable-row:hover{
        background-color: #555555;
    }
</style>

<script>
    const csrfToken = '{{ csrf_token }}'
</script>


    <!--Page Header-->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4">
                <h1>Admin Welcome</h1>
            </div>
        </div>
    </div>

    <div class="container mt-lg-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Stores</h3>
                        <table class="table table-striped table-hover" style="table-layout: fixed; width: 100%">
                            <thead>
                                <tr>
                                    <th scope="col">Store</th>
                                    <th scope="col">Owner</th>
                                    <th scope="col">Location</th>
                                </tr>
                            </thead>
                                <!--Create rows for all current stores-->
                                {% for store in stores%}
                                    <tr class="clickable-row" onclick="new bootstrap.Modal(document.getElementById('modal{{ store.id }}')).show()">
                                        <td class="align-middle">{{ store.name }}</td>
                                        <td class="align-middle">{{ store.owner }}</td>
                                        <td class="align-middle">{{ store.location }}</td>
                                    </tr>
                                {% endfor %}
                        </table>
                    {% for store in stores %}
                        <div class="modal fade" id="modal{{ store.id }}"
                             data-bs-backdrop="static"
                             data-bs-keyboard="false"
                             aria-labelledby="modalLabel{{ store.id }}"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ store.name }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="form-{{ store.id }}">
                                            <div class="mb-3">
                                                <label for="owner-{{ store.id }}" class="form-label">Owner</label>
                                                <input type="text" class="form-control" id="owner-{{ store.id }}"
                                                       value="{{ store.owner }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="location-{{ store.id }}" class="form-label">Location</label>
                                                <input type="text" class="form-control" id="owner-{{ store.id }}"
                                                       value="{{ store.location }}">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger delete-btn" data-store-id="{{ store.id }}">Delete</button>
                                        <button type="button" class="btn btn-primary update-btn" data-store-id="{{ store.id }}">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Item Stock</h5>
                        <table class="table table-hover table-striped" style="table-layout: fixed; width: 100%">
                            <thead>
                            <tr>
                                <th scope="col">Item Name</th>
                                <th scope="col">Item Weight</th>
                                <th scope="col">Item Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                            <tr class="clickable-row" onclick="new bootstrap.Modal(document.getElementById('modal{{ item.id }}')).show()">
                                <td class="align-middle">{{ item.name }}</td>
                                <td class="align-middle">{{ item.weight }}</td>
                                <td class="align-middle">{{ item.price}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- Modal for each Item-->
                    {% for item in items %}
                        <div class="modal fade" id="modal{{ item.id }}"
                             data-bs-backdrop="static"
                             data-bs-keyboard="false"
                             aria-labelledby="modalLabel{{ item.id }}"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ item.name }} Details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="form-{{ item.id }}">
                                            <div class="mb-3">
                                                <label for="weight-{{ item.id }}" class="form-label">Weight</label>
                                                <input type="text" class="form-control" id="weight-{{ item.id }}"
                                                       value="{{ item.weight }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="price-{{ item.id }}" class="form-label">Price</label>
                                                <input type="text" class="form-control" id="price-{{ item.id }}"
                                                value="{{ item.price }}">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger delete-btn" data-item-id="{{ item.id }}">Delete</button>
                                        <button type="button" class="btn btn-primary update-btn" data-item-id="{{ item.id }}">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    document.body.addEventListener('click', e => {
        console.log('Body clicked', e.target);
        const updateBtn = e.target.closest('.update-btn');
        if(updateBtn) console.log('update button clicked', updateBtn);
        const deleteBtn = e.target.closest('.delete-btn');
        if(deleteBtn) console.log('delete button clicked', deleteBtn);

        if(updateBtn) {
            const itemId = updateBtn.dataset.itemId
            const data = {
                weight: document.getElementById(`weight-${itemId}`).value,
                price: document.getElementById(`price-${itemId}`).value,
            };

            fetch(`/update-item/${itemId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(data)
            })
                .then(res => res.json())
                .then(resp => {
                    if (resp.success) {
                        alert('Item updated!');
                        location.reload()
                    } else {
                        alert('Update failed.')
                    }
                });
        }
        if(deleteBtn){
            const itemId = deleteBtn.dataset.itemId;

            if (!confirm(`Are you sure you want to delete ${itemId}`)) return;
            fetch(`/delete-item/${itemId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
                .then(res => res.json())
                .then(resp => {
                    if (resp.success) {
                        alert('Item deleted');
                        location.reload()
                    } else {
                        alert('Delete Failed')
                    }
                });
        }
    });
</script>
{% endblock %}
